/*
BEM - Architecture/Methodology
COLORS TO BE USED
*/
/*
* All mixins
*/
/*
* COLORS
*/
/*
* GRID
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

/*
Root
* This defines what 1-rem should be
* This then means that 1rem = 10px
*/
html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInUp {
  0% {
    opacity: 0;
    transform: translateY(-20rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

body {
  font-family: "Lato", sans-serif;
  font-weight: lighter;
  line-height: 1.7;
  color: #777;
  padding: 0.5rem; }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 6rem; }
  .heading-primary--main {
    display: inline-block;
    font-size: 6rem;
    font-weight: 800;
    letter-spacing: 3.5rem;
    animation-name: moveInUp;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    /* animation-delay: 2s; 
        animation-iteration-count: 3;
        animation-timing-function: ease-in;
        */ }
  .heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: 1.4rem;
    animation: moveInRight 1s ease-out; }
  .heading-primary--sub2 {
    font-size: 2rem;
    word-spacing: 1rem;
    letter-spacing: 0.3rem;
    text-transform: capitalize;
    font-style: italic;
    font-weight: 300; }
  .heading-primary a {
    text-decoration: none; }
    .heading-primary a:link, .heading-primary a:visited {
      display: inline-block;
      padding: 1rem 2rem;
      font-weight: 300;
      color: #fff;
      text-decoration: none;
      background-size: 250%;
      transition: all 0.4s;
      color: #e97100;
      font-weight: 600; }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, #1d1803, #e97100);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 0.3rem;
  transition: all 0.2s; }
  .heading-secondary:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }

.heading-tertiary {
  font-size: 1.4rem;
  font-weight: 700;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.4rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.header {
  height: 95vh;
  background-image: linear-gradient(to left bottom, rgba(0, 0, 0, 0.9), rgba(3, 3, 0, 0.9));
  position: relative;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 65vh, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 65vh, 0 100%); }
  .header__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem; }
  .header__logo {
    height: 3.5rem; }
  .header__text-box {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 4rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 2rem; }
  .row .col-1-of-2 {
    width: calc((100% - 2rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 2rem) / 3); }
  .row .col-2-of-3 {
    width: calc( 2 * ((100% - 2 * 2rem) / 3) + 2rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 2rem) / 4); }
  .row .col-2-of-4 {
    width: calc( 2 * ((100% - 3 * 2rem) / 4) + 2rem); }
  .row .col-3-of-4 {
    width: calc( 3 * ((100% - 3 * 2rem) / 4) + 2 * 2rem); }

.navigation__background {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  position: fixed;
  top: 6.5rem;
  right: 6.5rem;
  background-color: #000; }
