footer {
  background-color: $color-background-primary-1;
  color: $color-gray-light-1;
  padding: 5rem;

  .card {
    padding: 2rem;

    &__heading {
      font-size: 1.4rem;
    }

    &__links {
      font-size: 1.2rem;

      ul {
        list-style: none;
        li {
          a {
            text-decoration: none;
            color: $color-gray-dark-1;
          }
        }
      }
    }
  }
}
