footer {
  background-color: $color-background-primary-1;
  background-image: linear-gradient(
    to left,
    rgba($color-background-primary-1, 0.1),
    rgba($color-background-primary-2, 0.2)
  );
  //   color: $color-gray-light-1;
  //   padding: 5rem;

  .row {
    display: inline-block;
    margin: 4rem;
    padding: 2rem;
  }

  .card {
    padding: 2rem;

    &__heading {
      font-size: 1.4rem;
      color: $color-gray-dark-1;
    }

    &__links {
      font-size: 1.2rem;

      ul {
        list-style: none;
        li {
          a {
            text-decoration: none;
            color: $color-gray-dark-1;
          }
        }
      }
    }
  }
}
