/*
* COLORS
*/

$color-background-primary-1: #000; // Matte Black
$color-background-primary-2: #020216; // Midnight Blue

$color-gray-light: #eee;
$color-gray-dark: #777;

$color-white: #fff;
$color-black: #000;

/*
* GRID
*/

$grid-width: 114rem;
$gutter-vertical: 4rem;
$gutter-horizontal: 2rem;
