*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

/*
Root
* This defines what 1-rem should be
* This then means that 1rem = 10px
*/

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
}
